<div class="m-4">
  <div class="border border-success bg-light rounded w-50 m-auto text-success">
    <h3 class="m-4 text-center">New User Details</h3>
    <form class="text-right" (ngSubmit)="onCreateUserSubmit()">
      <div class="form-group row my-2">
        <label class="mx-2 col-4 col-form-label">First Name</label>
        <div class="col-lg-6 col-sm-7">
          <input
            type="text"
            id="firstName"
            name="firstName"
            class="form-control"
            [(ngModel)]="user.firstName"
            placeholder="Enter First Name"
            required
          />
        </div>
      </div>

      <div class="form-group row my-2">
        <label class="mx-2 col-4 col-form-label">Last Name</label>
        <div class="col-lg-6 col-sm-7">
          <input
            type="text"
            id="lastName"
            name="lastName"
            class="form-control"
            [(ngModel)]="user.lastName"
            placeholder="Enter Last Name"
            required
          />
        </div>
      </div>

      <div class="form-group row my-2">
        <label class="mx-2 col-4 col-form-label">Email</label>
        <div class="col-lg-6 col-sm-7">
          <input
            type="text"
            id="email"
            name="email"
            class="form-control"
            [(ngModel)]="user.email"
            placeholder="Enter Email"
            required
          />
        </div>
      </div>

      <div class="form-group row my-2">
        <label class="mx-2 col-4 col-form-label">Phone Number</label>
        <div class="col-lg-6 col-sm-7">
          <input
            type="text"
            id="phoneNumber"
            name="phoneNumber"
            class="form-control"
            [(ngModel)]="user.phoneNumber"
            placeholder="Enter Phone Number"
            required
          />
        </div>
      </div>

      <div class="form-group row my-2">
        <label class="mx-2 col-4 col-form-label">Pin Code</label>
        <div class="col-lg-6 col-sm-7">
          <input
            type="text"
            id="pinCode"
            name="pinCode"
            class="form-control"
            [(ngModel)]="user.pinCode"
            placeholder="Enter Pin Code"
            required
          />
        </div>
      </div>

      <div class="form-group row my-2">
        <label class="mx-2 col-4 col-form-label">DOB</label>
        <div class="col-lg-6 col-sm-7">
          <input
            type="date"
            id="dob"
            name="dob"
            class="form-control"
            [(ngModel)]="user.dob"
            placeholder="Enter DOB"
            required
          />
        </div>
      </div>

      <div class="form-group row my-2">
        <label class="mx-2 col-4 col-form-label">DOJ</label>
        <div class="col-lg-6 col-sm-7">
          <input
            type="date"
            id="doj"
            name="doj"
            class="form-control"
            [(ngModel)]="user.doj"
            placeholder="Enter DOJ"
            required
          />
        </div>
      </div>

      <div class="my-4 text-center">
        <button type="submit" class="btn btn-sm btn-outline-success">
          Add
        </button>
      </div>
    </form>
  </div>
</div>
